.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("/assets/images/podisto.fw.png");
  background-size: cover;
}

mat-card img {
  object-fit: cover;
  height: 80%;
}
